<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/components/html-head :: html-head"></head>

<body class="nav-md">


	<script>
		$(document).ready(function() {
			console.log("index.html load hoise");
			topnav.print();
			
			$( "#logout" ).click( function() {
		    	
		    	console.log(" logout e click porse");
				topnav.logout("#logOutForm");
		    });
			
		});
	</script>

	<div class="container body">
		<div class="main_container">

			<!-- LEFT SIDEBAR -->
			<section th:replace="admin/components/sidebar :: left-sidebar"></section>
			<!-- / LEFT SIDEBAR -->

			<!-- top navigation -->
			<section th:replace="admin/components/top-nav :: top-nav"></section>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">

				<div class="page-title">
					<div class="title_left">
						<h3>
							Welcome to admin area <small>Look at your left to
								navigate</small>
						</h3>
					</div>

				</div>

				<div class="clearfix"></div>

			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Powered by <a href="https://www.revesoft.com">Reve</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>




	<section th:replace="admin/components/html-footer :: html-footer">
</body>

</html>