<html>
    <body>
        <div th:fragment="yearsAct">
            <ul>
                <li>
                	<a th:href="@{/front/act}+'?field=year&value=2010'" th:text="@{2010}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2011'" th:text="@{2011}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2012'" th:text="@{2012}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2013'" th:text="@{2013}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2014'" th:text="@{2014}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2015'" th:text="@{2015}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2016'" th:text="@{2016}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2017'" th:text="@{2017}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2018'" th:text="@{2018}"></a>
                </li>
            </ul>
            <h6>2000 - 2009</h6>
            <ul>
                <li>
                	<a th:href="@{/front/act}+'?field=year&value=2000'" th:text="@{2000}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2001'" th:text="@{2001}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2002'" th:text="@{2002}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2003'" th:text="@{2003}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2004'" th:text="@{2004}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2005'" th:text="@{2005}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2006'" th:text="@{2006}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2007'" th:text="@{2007}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2008'" th:text="@{2008}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=2009'" th:text="@{2009}"></a>
                    <!-- 
                    <a href="#">2000</a>
                    <a href="#">2001</a>
                    -->
                </li>
            </ul>
            <h6>1990 - 1999</h6>
            <ul>
                <li>
                    <a th:href="@{/front/act}+'?field=year&value=1990'" th:text="@{1990}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1991'" th:text="@{1991}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1992'" th:text="@{1992}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1993'" th:text="@{1993}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1994'" th:text="@{1994}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1995'" th:text="@{1995}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1996'" th:text="@{1996}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1997'" th:text="@{1997}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1998'" th:text="@{1998}"></a>
                	<a th:href="@{/front/act}+'?field=year&value=1999'" th:text="@{1999}"></a>
                </li>
            </ul>
            <h6>1980 - 1889</h6>
            <ul>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            <h6>1900 - 1979</h6>
            <ul>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        
        <div th:fragment="yearsCase">
            <ul>
                <li>
                	<a th:href="@{/front/case}+'?field=year&value=2010'" th:text="@{2010}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2011'" th:text="@{2011}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2012'" th:text="@{2012}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2013'" th:text="@{2013}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2014'" th:text="@{2014}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2015'" th:text="@{2015}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2016'" th:text="@{2016}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2017'" th:text="@{2017}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2018'" th:text="@{2018}"></a>
                </li>
            </ul>
            <h6>2000 - 2009</h6>
            <ul>
                <li>
                	<a th:href="@{/front/case}+'?field=year&value=2000'" th:text="@{2000}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2001'" th:text="@{2001}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2002'" th:text="@{2002}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2003'" th:text="@{2003}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2004'" th:text="@{2004}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2005'" th:text="@{2005}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2006'" th:text="@{2006}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2007'" th:text="@{2007}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2008'" th:text="@{2008}"></a>
                	<a th:href="@{/front/case}+'?field=year&value=2009'" th:text="@{2009}"></a>
                    <!-- 
                    <a href="#">2000</a>
                    <a href="#">2001</a>
                    -->
                </li>
            </ul>
            <h6>1900 - 1999</h6>
            
            <form class="form-horizontal" action="/front/case" id="searchCaseByYearModalForm">  
            
            	<div class="form-group">
                	
                	<div class="col-sm-5" >
                		<select id="yearSelection">
                			<ul th:each="number : ${#numbers.sequence(1900,1999)}">
	                    		<option th:text=${number} th:value=${number}></option>
	                 		</ul>
                    	</select>
                	</div>
                	<div class="col-sm-7">
                    	<button type="button" class="btn btn-template-main " id="searchCaseByYearButton">Search</button> 
                	</div>
            	</div>
            	
            </form>	  
            
            <!-- 
            <h6>1980 - 1889</h6>
            <ul>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            -->
            
        </div> 
        
        <div th:fragment="alphabets">
             <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a>
             <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a>
             <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a>
             <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a>
             <a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a>
        </div>
        
        <ul th:fragment="courts" th:object="${courtBooks}" >
        	
        
        	<li th:each="court : ${courtBooks}">
        		<a th:href="@{/front/case}+'?field=courtBookTitle&value='+${court.getTitle()}" th:text=${court.getTitle()} class="courtNameAnchor"></a>
        	</li>
        	
        	
        	<!-- 
        	<div id="outputCourts">
	        	<p>HI court fragment</p>
	        </div>
	         -->
	        <!-- 
	            <li>
	                <a href="#">High Court</a>
	            </li>
	            <li>
	                <a href="#">Judge Court</a>
	            </li>
	            <li>
	                <a href="#">Supreme Court</a>
	            </li>
	            <li>
	                <a href="#">Tax Tribunal</a>
	            </li>
	            <li>
	                <a href="#">High Court</a>
	            </li>
	            <li>
	                <a href="#">High Court</a>
	            </li>
	            <li>
	                <a href="#">Judge Court</a>
	            </li>
	            <li>
	                <a href="#">Supreme Court</a>
	            </li>
	            <li>
	                <a href="#">Tax Tribunal</a>
	            </li>
	            <li>
	                <a href="#">High Court</a>
	            </li>
             -->
        </ul>
            
            
    </body>
</html>



