
<div class="page-title">
	<div class="title_left" th:if=" ${ null != act } ">
		<h3 th:text="${ act.title }"></h3>
	</div>
</div>

<div class="clearfix"></div>
<br>

<!-- overlay section -->
<div class="position-relative">

	<div class='x_panel'>

		<div class='x_title'>
			<h2>Basic information</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>


		<div class='x_content'>

			<form th:object="${act}" id="formBasicInformation" action=""
				method="get" data-parsley-validate=""
				class="form-horizontal form-label-left" novalidate=""
				onsubmit=" return false; ">

				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Act
						Title <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input th:value="*{title}" type="text" id="actTitle" name="title"
							required="required" class="form-control col-md-7 col-xs-12">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Act
						Number </label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input th:value="*{number}" type="text" id="actNumber"
							name="number" required="required"
							class="form-control col-md-7 col-xs-12">
					</div>
				</div>



				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Act
						Published Date<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input th:value="${ act.getDateForInputMask( act.datePublished ) }"
							data-inputmask="'mask': '99-99-9999'" type="text"
							id="actPublishedDate" name="actDate" required="required"
							class="form-control col-md-7 col-xs-12">
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
						Status </label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!--  <input th:value="*{volume}" type="text" id="" name="" required="required" class="form-control col-md-7 col-xs-12" disabled >
                                   	 -->
						<div>
							<div>
								<input type="radio" th:name="@{status}" value="DRAFT"
									th:checked="${act.getStatus().name()=='DRAFT'}" />Draft


							</div>

							<div>
								<input type="radio" th:name="@{status}" value="PUBLIC"
									th:checked="${act.getStatus().name()=='PUBLIC'}" />Public

							</div>
							
							<!--  
							<div>
								<input type="radio" th:name="@{status}" value="PUBLISHED"
									th:checked="${act.getStatus().name()=='PUBLISHED'}" />Published

							</div>
							
							<div>
								<input type="radio" th:name="@{status}" value="PAID"
									th:checked="${act.getStatus().name()=='PAID'}" />Paid

							</div>
							
							<div>
								<input type="radio" th:name="@{status}" value="PRIVATE"
									th:checked="${act.getStatus().name()=='PRIVATE'}" /> Private

							</div> 
							
							-->

						


						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
						Treatment </label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!--  <input th:value="*{volume}" type="text" id="" name="" required="required" class="form-control col-md-7 col-xs-12" disabled >
                                   	 -->
						<div>
							<div>
								<input type="radio" th:name="@{treatment}" value="NYIF"
									th:checked="${act.getTreatment().name()=='NYIF'}" /> <img
									th:src="@{/images/Not in force.png}">Not Yet In Force


							</div>

							<div>
								<input type="radio" th:name="@{treatment}" value="LIF"
									th:checked="${act.getTreatment().name()=='LIF'}" /> <img
									th:src="@{/images/Law in force.png}">Law In Force

							</div>

							<div>
								<input type="radio" th:name="@{treatment}" value="R"
									th:checked="${act.getTreatment().name()=='R'}" /> <img
									th:src="@{/images/Repealed.png}">Repealed

							</div>

							<div>
								<input type="radio" th:name="@{treatment}" value="PBIS"
									th:checked="${act.getTreatment().name()=='PBIS'}" /> <img
									th:src="@{/images/Pending.png}">Pending Bill In Sangsad

							</div>

							<div>
								<input type="radio" th:name="@{treatment}" value="AA"
									th:checked="${act.getTreatment().name()=='AA'}" /> <img
									th:src="@{/images/Annotation available.jpg}">Annotations
								Available

							</div>

							<div>
								<input type="radio" th:name="@{treatment}" value="NA"
									th:checked="${act.getTreatment().name()=='NA'}" />Not Available

							</div>


						</div>
					</div>
				</div>
			

				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
						Act Description </label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<textarea th:text="*{description}"
							class="form-control richEditor" id="actDescriptor"
							name="description" rows="3"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for=""> Search Terms </label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input th:value="*{searchTerms}" type="text" id="searchTerms"
							name="number" required="required"
							class="form-control col-md-7 col-xs-12">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Subject</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input th:value="*{subject}" type="text" id="subject"
							name="number" required="required"
							class="form-control col-md-7 col-xs-12">
					</div>
				</div>

	
				


				<!--    <div class="form-group" id = "sections">
                                  
                                  
                                  
                                  <div class= "section">
                                   <label class="" for=""> Section Name </label>
                                   <div class="" >
                                     <input type = "text">
                                   </div>
                                   <label class="" for=""> Section Description</label>
                                   <div class="" >
                                     <textarea  class="form-control richEditor"  rows="3"></textarea>
                                   </div>
                                   </div>
                                  
                                  <div class= "sectionTemplate" style="display:none">
                                   <label class="" for=""> Section Name </label>
                                   <div class="" >
                                     <input type = "text">
                                   </div>
                                   <label class="" for=""> Section Description</label>
                                   <div class="" >
                                     <textarea  class="form-control"  rows="3"></textarea>
                                   </div>
                                   </div>
                                  
                                   
                                 </div> 
                                 
                                 
                                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                  <button id="add-section" type="submit" class="btn btn-success">+ Add Another Section</button>
                                 </div>-->

				<!--<div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""> Section
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                     <textarea  class="form-control" id="sources" name="sources" rows="3"></textarea>
                                   </div>
                                 </div>  -->


				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

						<button id="submitBasicInformation" type="submit"
							class="btn btn-success">Save basic information</button>
						<input type="hidden" name="updateType" value="basicInformation">

						<div id="loadingBasic"></div>
					</div>
				</div>

			</form>

		</div>
	</div>

	<!--  <div class='x_panel'>
                   
                        <div class='x_title'>
                            <h2>Digest</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        <div class='x_content'>
                            
                           <div th:replace = "admin/components/case-digest-form" ></div>
                    
                        </div>
                   </div>
                   -->




	<!-- Section panel starts Here -->



	<div class='x_panel'>
		<div class='x_title'>
			<h2>Sections</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>

		
		<!-- 
		<div>
		<div class="col-md-4 col-sm-4">
		<table id = "leftTable" class="table table-hover table-striped table-bordered dataTable no-footer ">
		<div id = "addSection" class="btn btn-info "><i class="fa fa-plus"></i> Add New Section  </div>
		
		
		<thead> 
		<tr>
		<th>Section Name </th>
		<th>Action</th>
		
		</tr>
		
		 </thead>
		
		
		<tbody> 
		<tr>
		<td>First Section</td>
		<td>
			 <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-trash"></i>  Delete</a>
             <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit </a>
         </td>
		</tr>
		
		<tr>
		<td>First Section</td>
		<td>
			 <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-trash"></i>  Delete</a>
             <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit </a>
         </td>
		</tr>
		
		<tr>
		<td>First Section</td>
		<td>
			 <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-trash"></i>  Delete</a>
             <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit </a>
         </td>
		</tr>
		
		</tbody>
		</table>
		
		</div>
		
		<div class="col-md-8 col-sm-8">
		
		<table id = "rightTable" class="table table-striped table-bordered dataTable no-footer ">
		<div id = "saveSectionButton"class="btn  btn-info pull-right"  ><i class="fa fa-folder"></i> Save Section  </div>
		<thead>
			<tr>
			<th> Section Description </th>
			
			</tr>
			
			
			
		</thead>

					<tbody>
						<tr>
							<td>
							<textarea  th:text="*{sections}" class="col-md-8 col-sm-8" id="#" name="#" rows="20"></textarea>
							</td>
						</tr>
					</tbody>

				</table>
		</div>
		
		
		</div> Adding Section individually -->

		<div class='x_content'>
			<h5>Full Section</h5>
			<form th:object="${act}" id="formSections" action="" method="get"
				data-parsley-validate="" class="form-horizontal form-label-left"
				novalidate="" onsubmit=" return false; ">

				<div class="form-group">
					<div class="col-md-12 ">
						<textarea th:text="*{sections}" class="form-control richEditor"
							id="sections" name="sections" rows="20"></textarea>
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-6 col-sm-6 col-xs-12 ">
						<button id="submitSection" type="submit" class="btn btn-success">Save
							Sections</button>
						<input type="hidden" name="updateType" value="sections">
						<div id="loadingSection"></div>
					</div>
				</div>

			</form>

		</div>
	</div>
	
					<div class='x_panel'>
                   
                        <div class='x_title'>
                            <h2>Category</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        <div class='x_content'>
                            <h4>the bonsai tree with check box is coming</h4>
                            	
								<form th:object="${caseBook}" id="formCategoryInformation" action="" method="get" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" onsubmit=" return false; ">
									
									<div id="output">
									    <!-- for bonsai tree from json -->
									</div>
									
									<div class="ln_solid"></div>
	                                 <div class="form-group">
	                                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                                   		
	                                   		<!-- 
	                                     <button id="submitCategoryInformation" type="submit" class="btn btn-success">Save category information</button>
	                                     <input type="hidden" name="updateType" value="categoryInformation">
	                                      -->
	                                      
	                                     <div id="loading"></div>
	                                   </div>
	                                 </div>
                                 </form>
                            <!--  
                           <div th:replace = "admin/components/case-digest-form" ></div>
                    		 -->
                        </div>
                   </div>

	<div class='x_panel'>
		<div class='x_title'>
			<h2>Related Documents</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			<div class="ln_solid"></div>
			<!--  	<form method="POST" id="formUploadTranscript" enctype="multipart/form-data" th:action="@{'/data-api/extra/media'}" >
								-->
			<form th:object="${act}" enctype="multipart/form-data"
				id="formUploadAct" action="" method="post" data-parsley-validate=""
				class="form-horizontal form-label-left" novalidate=""
				onsubmit=" return false; ">
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
						File to upload: </label> <input type="file" name="file" /> <input
						type="hidden" name="updateType" value="actMedia">

				</div>

				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<button id="uploadAct" value="upload" type="submit"
							class="btn btn-success">Upload Act</button>

						<div id="loading"></div>
					</div>
				</div>


			</form>

		</div>

		<div class="x_content">
			<div class="ln_solid"></div>

			<form th:object="${act}" enctype="multipart/form-data"
				id="downloadAct" action="" method="post" data-parsley-validate=""
				class="form-horizontal form-label-left" novalidate=""
				onsubmit=" return false; ">

				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
						Existing File: </label>

					<div class="col-md-6 col-sm-6 col-xs-12">

						<table>
							<tr th:each="media : ${act.mediaSet}">
								<td><a th:href="@{ '/media?id=' + ${ media.id }  }"
									class="btn btn-info btn-xs" text="${media.name}"><i
										class="fa fa-download"></i> </a></td>

								<!-- // TODO add delete  
	    									<td> <a th:href="@{ '/mediaDelete?id=' + ${ media.id }  }" class="btn btn-info btn-xs" text="${media.name}"><i class="fa fa-close"></i> </a></td>
	    									-->

								<td th:text="${media.name}">mediaName</td>

								<!--   <a th:href="@{ ${ controllerPaths['edit'] } + ${ book.id } }" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                     		-->

							</tr>
						</table>

					</div>

				</div>

				<div class="ln_solid"></div>


			</form>

		</div>
	</div>


	<div th:replace="admin/components/content-loader"></div>

</div>

<script th:inline="javascript">
                /*<![CDATA[*/
                             
                    var loadingSelectorBasic = "#loadingBasic";
                    var loadingSelectorSection = "#loadingSection";
                    var actId = /*[[ ${ act.getStringId() } ]]*/ 0;
                    var rootNodeId = /*[[ ${ act.getRootNode().getStringId() } ]]*/ 0;
                    var controllerPaths = {
                            
                            "add"    : /*[[ @{ ${ controllerPaths['add'] } } ]]*/,
                            "edit"   : /*[[ @{ ${ controllerPaths['edit'] } } ]]*/,
                            "delete" : /*[[ @{ ${ controllerPaths['delete'] } } ]]*/,
                            "manage" : /*[[ @{ ${ controllerPaths['manage'] } } ]]*/,
                            "index"  : /*[[ @{ ${ controllerPaths['index'] } } ]]*/
                            
                    }

                /*]]>*/
                </script>

<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script>
                    tinymce.init({ 
                    	
                      selector:'.richEditor',
                   	  theme: 'modern',
                   	  
                   	  plugins: [
                   	    'advlist autolink lists link charmap print preview hr anchor pagebreak',
                   	    'searchreplace wordcount visualblocks visualchars code fullscreen',
                   	    'insertdatetime media nonbreaking save table contextmenu directionality',
                   	    'emoticons template paste textcolor colorpicker textpattern toc'
                   	  ],
                   	  
                   	  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link ',
                   	  toolbar2: 'print preview media | forecolor backcolor emoticons', 

                      setup: function (editor) {
                          editor.on('change', function () {
                              editor.save();
                          });
                      }
                    	
                    });
                    
                    function initTinyMce( selector ) {

                        tinymce.init({ 
                        	
                          selector: selector,
                       	  theme: 'modern',
                       	  
                       	  plugins: [
                       	    'advlist autolink lists link charmap print preview hr anchor pagebreak',
                       	    'searchreplace wordcount visualblocks visualchars code fullscreen',
                       	    'insertdatetime media nonbreaking save table contextmenu directionality',
                       	    'emoticons template paste textcolor colorpicker textpattern toc'
                       	  ],
                       	  
                       	  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link ',
                       	  toolbar2: 'print preview media | forecolor backcolor emoticons', 

                          setup: function (editor) {
                              editor.on('change', function () {
                                  editor.save();
                              });
                          }
                        	
                        });
                        
                    	
                    }
               </script>

<script>

                   /** all environment values go here **/
                   var env = {
                           
                       "yearList" : "#yearList",
                       "volumeList" : "#volumeList",
                       "caseList" : "#caseList",
                       
                       "yearSelector": ".yearSelector",
                       "volumeSelector" : ".volumeSelector",
    
                       "switchYearList": ".switchYearList",
                       "switchVolumeList": ".switchVolumeList",
                       
                       "caseModal" : "#caseModal"
                           
                   }
                   $( document ).ready( function() { 
						
              
                	   /*$("#add-section").click (function() {
                		   
                		   var newBlock = $(".sectionTemplate").clone();
                		   newBlock.appendTo("#sections");
                		   
                		   newBlock.show();
                		   
                		   newBlock.removeClass("sectionTemplate");
                		   
                		   var uniqueId = "richText" + new Date().getTime();
                		   
                		   newBlock.find("textarea").addClass( uniqueId );
                		   
                		   initTinyMce( "." + uniqueId );
                		   
                	   }); */
                	   console.log("on document ready in act-edit");
                     // var bookProcessor = new BookProcessor ( actId, loadingSelector );
                       
                       mApp.setUpRestPaths ( actProcessor, controllerPaths, "/admin/", "/admin/rest/" );
                       
                     //  console.log( bookProcessor );
                       
                       //var book = new Book( actId, bookProcessor, env );
                       //console.log( book );
                       
                    	// ConvertToAct( book, bookProcessor );
                      	// console.log( book );
                      
                       $( "#submitBasicInformation" ).click( function() {
                    	  
                           actProcessor.updateBasicInformation( $("#actTitle").val(), $( "#actNumber").val(), $( "#actPublishedDate").val(), $("#actDescriptor").val(), $("input[name='treatment']:checked").val(),$("input[name='status']:checked").val(), actId);
                           
                       });

                       
                       $( "#submitSection" ).click( function() {
                           
                           actProcessor.updateSection( $('#sections').val(), actId );
                           
                       });
                       
                       
                       
 						$( "#uploadAct" ).click( function() {
 							
                           actProcessor.updateMedia('#formUploadAct');
                           
                       });
                       
 						loadCategoryTree();
                	   
                   } );
               
               </script>
               
               <script>
               
               function convertToHtml(json)
	       		{
            	   	//console.log("inside convertToHtml");
            	   
	       			var result="";
	       			
	       			//console.log("Size:"+json.length);
	       			
	       			for(var i = 0; i < json.length; i++)
	       			{
	       				var tempJson = json[i];
	       				
	       				var tempResult="";
	       				
	       				if(tempJson.children.length > 0)
	       				{
	       					
	       					tempResult += convertToHtml(tempJson.children);
	       				
	       					result += "<li data-value='"+tempJson.name+"' data-name='categoryList'>"+tempJson.name+"<ol>" + tempResult + "</ol></li>";
	          				 	        					//value is id. change.now testing with name
	       				}
	       				else
	       				{
	       					result += "<li data-value='"+tempJson.name +"' data-name='categoryList'>"+tempJson.name+"</li>";		
	       					//value is id. change.now testing with name
	       				}
	       				
	       				
	       			}
	       			return result;
	       		}
               
               </script>
               
               <script>
               
				function loadCategoryTree()
				{
					console.log("inside loadCategoryTree");
	            	   
					var jsonData;
					
	               	$.getJSON('/admin/rest/category?forEntity=act', function(data) {
	               	
	               		//console.log("inside getJson");
	               		//data is the JSON string
						jsonData = data;
	            	    
						var finalString = "<ol id='categoryCheckbox'><li class='expanded' data-value='all' data-name='categoryList'>All";
	            	    
	            	   	finalString += "<ol >" + convertToHtml(jsonData['aaData']) + "</ol>";
	            	    	
	            	    finalString += "</li></ol>";
	               		
	            	    document.getElementById('output').innerHTML = finalString;//createHTML(jsonData['aaData'], true);
	               			            	    
	               		$('#categoryCheckbox').bonsai({
	                  	   expandAll: true,
	                  	   checkboxes: true, // depends on jquery.qubit plugin
	                  	   createInputs: 'checkbox', // takes values from data-name and data-value, and data-name is inherited
	                  	   addExpandAll: false, // add a link to expand all items
	                  	   addSelectAll: false, // add a link to select all checkboxes
	                  	   expand: null, // optional function to expand an item
	                  	   collapse: null // optional function to collapse an item
	                  	 });
	               		
	               		$(":checkbox").on("change",function() {
 							console.log("a box is changeded" + $(this).val());  
 							//alert("event");
 						});
	               		
	               		
	            	});
               
				}
               </script>


