
                <div class="page-title">
                  <div class="title_left">
                    <h3>Create an Act</h3>
                  </div>
                </div>
                <div class="clearfix"></div>
                
                <a class="btn btn-info">Create new courtbook</a> 
                or select existing
                <select>
                    <option>Supreme</option>
                    <option>Supreme</option>
                    <option>Supreme</option>
                    <option>Supreme</option>
                </select> 
                
    