<!DOCTYPE html>
<html lang="en">

	<section th:replace = "front/components/html-head"></section>
	
        
		<section th:replace = "front/components/section-head"></section>
		
        <section>
            <!-- *** HOMEPAGE CAROUSEL *** -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <p>
                                  <!-- <img src="public/img/logo.png" alt=""> -->  
                                    </p>
                                    <h1>Legal database online</h1>
                                    <p> Acts, Laws, Cases, and many more.
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="public/img/template-database.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-7 text-center">
                                    <img class="img-responsive" src="public/img/template-search.jpg" alt="">
                                </div>

                                <div class="col-sm-5">
                                    <h2>Search Engine</h2>
                                    <ul class="list-style-none">
                                        <li>Search on topic</li>
                                        <li>Search cases</li>
                                        <li>Navigation chronologically</li>
                                        <li>+++</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Register Today and start reading</h1>
                                    
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="public/img/template-study.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        
        <section class="bar background-pentagon no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>blocks</h2>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- /.bar -->

        <section class="bar background-image-fixed-2 no-mb color-white text-center">
            <div class="dark-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
                        </div>
                        <h3 class="text-uppercase">Do you want to see more?</h3>
                        <p class="lead">Please sign up now.</p>
                        <p>Click on the following button to register.</p>
                        <p class="text-center">
                            <a href="/registration" class="btn btn-template-transparent-black btn-lg">REGISTRATION</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- /.bar -->


    <div th:replace = "front/components/html-footer"></div>

